/* CSS url as a string */
@import "https://js.arcgis.com/4.28/@arcgis/core/assets/esri/themes/light/main.css";

html,
body{
  padding: 0;
  margin:0;
  height: calc(100%);
  width: calc(100%);
  box-sizing: "border-box";
}

calcite-icon {
  --calcite-ui-icon-color: black
}

.esri-search{
  width:auto;
  max-width: 600px;
  min-width: 300px;
}

@media (max-width:500px){
  .esri-search{
    width: 95vw;
  }
}