
@font-face{
  font-family: Barlow;
  src: url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
}

html,
body{
  height: 100%
    /* min-height: -webkit-fill-available; */

  /* padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom) ;
  padding-top: constant(safe-area-inset-top);
  padding-bottom: constant(safe-area-inset-bottom) ;
  margin:0;
  height: 100%;
  width: calc(100%);
  box-sizing: border-box;
  font-family:  "Avenir Next", Avenir, "Helvetica Neue", sans-serif; */
}

.tour-highlight {
  outline: 3px solid #ffa500; /* Bright orange border */
  border-radius: 4px;
  transition: outline 0.3s ease;
  z-index: 99999;
}




.form-section{
  border-bottom:1px solid var(--calcite-color-border-1);
  margin-bottom: var(--calcite-spacing-lg);
}

.form-header{
  font-size: var(--calcite-font-size);
  font-weight: var(--calcite-font-weight-medium);
  padding-bottom: var(--calcite-spacing-base);
  color:var(--calcite-color-text-2)
}

.form-description{
  font-size: var(--calcite-font-size-sm);
  font-weight: var(--calcite-font-weight-light);
  padding-bottom: var(--calcite-spacing-md);
  color:var(--calcite-color-text-2)
}


/* CALCITE CUSTOM STYLES */
calcite-stepper{
  background-color: var(--calcite-color-foreground-1);
  padding: var(--calcite-spacing-lg);
}

/* .property-comparison-form{
  flex-grow: 1;
  min-height: 0;
  overflow: auto;
} */

.stepper-item-content{
  -calcite-stepper-item-spacing-unit-m: 0px;
  width: inherit;
}

.tour-text{
  font-size: var(--calcite-font-size--1);;
}

calcite-navigation.cook-search {
  --calcite-navigation-width: 100%
}

@media (max-width: 600px) {
  #search-bar .esri-search.esri-widget {
    width: 100vw !important;
  }
}

calcite-flow.overlay-menu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

calcite-navigation.org-brand{
  --calcite-navigation-background-color: #0D4D96;
  --calcite-navigation-text-color: #ffffff
}

calcite-navigation-logo.org-brand{
  --calcite-navigation-logo-heading-text-color: #ffffff;
  --calcite-navigation-logo-text-color: #ffffff
}

calcite-menu.org-brand{
  --calcite-menu-background-color: #0D4D96;
  --calcite-menu-text-color: #ffffff
}

calcite-button.outline-button{
  --calcite-button-border-color: #0D4D96;
  --calcite-button-text-color: #0D4D96;
}

calcite-button.hyperlink-button{
  --calcite-button-background-color: #0D4D96;
}

calcite-block-section.info-section-header{
  --calcite-block-section-header-text-color: #0D4D96;
  --calcite-block-section-text-color: #0D4D96;
}

calcite-label.header{
  --calcite-label-text-color: #ffffff
}
calcite-label.DetailHeader{
  --calcite-label-margin-bottom: 5px
}

calcite-label.description{
  margin-top: 5px;
  --calcite-label-text-color: #6a6a6a
}

calcite-shell-panel.left-panel{
  --calcite-shell-panel-max-width: 300px;

}

calcite-shell-panel.right-panel{
  --calcite-shell-panel-max-width: 200px;
}

calcite-panel.panel-start{
  --calcite-panel-header-background-color: #ffffff;
  height: 50vh;
}


calcite-panel.header{
  --calcite-panel-header-background-color: #0D4D96;
}
calcite-action.header{
  --calcite-action-background-color: #0D4D96;
  --calcite-action-background-color-hover: #009ADA;
  --calcite-action-text-color: #ffffff
}

/* ESRI COMPNENTS CUSTOM STYLES */
.esri-search{
  width:100%;
  /* max-width: 600px; */
  min-width: 400px;
}

/* OTHER */



arcgis-map{
  width: 100%
}

arcgis-basemap-gallery{
  overflow: scroll;
}

arcgis-layer-list{
  overflow: scroll;
  height: 100%;
  background-color: transparent;
}

/* .esri-widget--panel{
  background-color: transparent;
} */


