/* CSS url as a string */
@import "https://js.arcgis.com/4.28/@arcgis/core/assets/esri/themes/light/main.css";

html,
body{
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom) ;
  padding-top: constant(safe-area-inset-top);
  padding-bottom: constant(safe-area-inset-bottom) ;
  margin:0;
  height: 100%;
  width: calc(100%);
  box-sizing: border-box;
}


.main {
  height: calc(100vh - var(--safe-area-height));
}


calcite-icon {
  --calcite-ui-icon-color: black
}

.esri-search{
  width:auto;
  max-width: 600px;
  min-width: 300px;
}

@media (max-width:500px){
  .esri-search{
    width: 95vw;
  }
}

.esri-measurement-widget-content__measurement-item__value{
  padding: 3%;
  background-color: lightgrey !important;
} 

.esri-zoom{
  right: 10px;
  top: 20px;
}

.esri-home{
  right: 10px;
  top: 90px;
}

.esri-locate {
  right: 10px;
  top: 130px;
}

@media (max-width:500px){
  .esri-zoom{
    right: 10px;
    top: 80px;
  }

  .esri-home{
    right: 10px;
    top: 150px;
  }

  .esri-locate {
    right: 10px;
    top: 190px;
  }
}

.esri-distance-measurement-2d__clear-button{
  border-radius: 20px !important;
}
