
@import 'https://js.arcgis.com/4.32/@arcgis/core/assets/esri/themes/light/main.css';
@import url("https://js.arcgis.com/calcite-components/3.0.3/calcite.css");
@import url("https://js.arcgis.com/map-components/4.32/arcgis-map-components.css");

:root {
  font-family: "Barlow";
  --mobile-breakpoint: 600px;
  --safe-area-bottom: constant(safe-area-inset-bottom); /* For iOS */
  --safe-area-bottom: env(safe-area-inset-bottom); /* For modern browsers */
  --safe-area-top: constant(safe-area-inset-top); /* For iOS */
  --safe-area-top: env(safe-area-inset-top); /* For modern browsers */
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

