
:root {
  font-family: "Barlow";
  --mobile-breakpoint: 600px;
  --doc-height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}