

:root {
  font-family: "Barlow";
  --mobile-breakpoint: 600px;
  --safe-area-bottom: constant(safe-area-inset-bottom); /* For iOS */
  --safe-area-bottom: env(safe-area-inset-bottom); /* For modern browsers */
  --safe-area-top: constant(safe-area-inset-top); /* For iOS */
  --safe-area-top: env(safe-area-inset-top); /* For modern browsers */
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
